 @model ProgrammersBlog.Entities.Dtos.ArticleDto
@{
    Layout = "_AritcleLayout";
    ViewBag.Title =Model.Article.Title;
    ViewBag.Description = Model.Article.SeoDescription;
    ViewBag.Author = Model.Article.SeoAuthor;
    ViewBag.Tags = Model.Article.SeoTags;
}
   <!-- Post Content Column -->
<div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">@Model.Article.Title</h1>

    <!-- Author -->
    <p class="lead">
        @Model.Article.User.UserName tarafindan @Model.Article.Date.ToShortTimeString() tarihinde paylasilmistir
    </p>


    <hr>

    <!-- Preview Image -->
    <div class="text-center">
        <img class="img-fluid rounded" src="~/img/@Model.Article.Thumbnail" alt="@Model.Article.Title">
    </div>
    

    <hr>

    <!-- Post Content -->
    @Html.Raw(Model.Article.Content)

    <hr>
    <p class="text-center">Okunma Sayisi : <span class="badge badge-info">@Model.Article.ViewsCount</span> Yorum sayisi : <span class="badge badge-warning">@Model.Article.CommentCount</span></p>

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- Single Comment -->
    @foreach(var comment in Model.Article.Comments)
    {
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="~/img/userImages/defaultUser.png" alt="" width="200" height="200">
            <div class="media-body">
                <h5 class="mt-0">@comment.CreatedByName</h5>
                @comment.Text
            </div>
        </div>
    }
</div>